.product {
	& .container {
		padding-left: 30px;
		padding-right: 30px;


		@media (max-width: 1220px) { 
			padding-left: 24px;
			padding-right: 24px;
		}

		@media (max-width: $md2+px) { 
			padding-left: 39px;
			padding-right: 39px;
		}

		@media (max-width: $md3+px) {
			padding-left: 33px;
			padding-right: 33px;
		}
		@media (max-width: 575+px) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	&__content {
		margin-top: 58px;
		margin-bottom: 67px;

		@media (max-width: $md2+px) {
			margin-top: 125px;
			margin-bottom: 87px;
		}
		// @media (max-width: $md3+px) {
		// 	margin-top: 243px;
		// 	margin-bottom: 118px;
		// }
		@media (max-width: 575+px) {
			margin-top: 110px;
			margin-bottom: 50px;
		}

		& .container {
			& h2 {
				&:first-child {
					text-transform: uppercase;
				}
			}

			& ul {
				padding-left: 0;

				& > li {
					font-size: 1em !important;
				}
			}
		}
	}

	&_forex {
		& .product__content {
			& p ~ h2 {
				margin-top: 2.7em;
			}

			& .container {
				& ul > li {
					margin-bottom: 0em;
				}

				& > .block-text-img {
						& .block-text-img__img {
							& img {
								width: 115%;
								max-width: 115%;
							}
						}
				}


			}

		}
	}

	&_spot-metals {
		& .product__content {
			& p ~ h2 {
				margin-top: 1.5em;
			}
		}
	}

	&_indices {
		& .product__content {
			& p ~ h2 {
				margin-top: 2.5em;
				text-align: center;
			}

		}
	}
}