@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2g7pxf');
  src:  url('../fonts/icomoon.eot?2g7pxf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2g7pxf') format('truetype'),
    url('../fonts/icomoon.woff?2g7pxf') format('woff'),
    url('../fonts/icomoon.svg?2g7pxf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-globe:before {
  content: "\e901";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
